:root {
  --text: #212121;
  --background: #ffffff;
  --color-p: #757575;
  --color-but: #2196f3;
  --active-but: #188ce8;
}
body {
  color: var(--text);
  background-color: var(--background);
  font-family: "roboto";
  letter-spacing: 0.03em;
  font-size: 14px;
}
header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
span {
  color: var(--color-but);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
p {
  color: var(--color-p);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
footer {
  background-color: #2f303a;
  color: var(--background);
}

footer [href="./index.html"] {
  display: block;
  color: var(--background);
  font-size: 26px;
  line-height: 1;
  font-family: "raleway";
  padding-top: 60px;
  padding-bottom: 20px;
}
footer [href="mailto:info@devstudio.com"],
[href="tel:+380961111111"] {
  font-style: normal;
  line-height: 1.7;
  color: #ffffff99;
}
footer [href="https://goo.gl/maps/d5CcS2hFM6yTFQRFA"]
{
  font-style: normal;
  line-height: 1.7;
  color: var(--background);
}

.list-products {
  display: inline-block;
}
.products {
  margin-bottom: 94px;
}
.products h2 {
  font-size: 18px;
  line-height: 2;
  text-align: left;
  padding: 20px 0px 4px 24px;
  letter-spacing: 0.06em;
}
.skill h2 {
  left: 617px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.products p {
  font-size: 16px;
  line-height: 1.9;
  text-align: left;
  margin: 4px 0px 20px 24px;
}
ul [href="mailto:info@devstudio.com"]:hover,
ul [href="mailto:info@devstudio.com"]:focus,
ul [href="tel:+380961111111"]:hover,
ul [href="tel:+380961111111"]:focus {
  color: var(--color-but);
}
.main-list a {
  color: var(--text);
  font-weight: 500;
  letter-spacing: 0.02em;
}
.main-list {
  display: flex;
  gap: 50px;
}
.main-list a:hover,
.main-list a:focus {
  color: var(--color-but);
}
.main-item {
}
.nav.active {
  color: var(--color-but);
}
.nav {
  margin-right: auto;
}

.list-address {
  display: flex;
  align-items: center;
  gap: 50px;
}
.list-address a {
  color: var(--color-p);
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}
.list-buttoms {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 94px;
  margin-bottom: 50px;
}
[href="/"] {
  color: var(--text);
  font-size: 26px;
  line-height: 1.2;
  font-family: "raleway";
  margin-right: 93px;
}
.hero {
  background-color: #2f303a;
  margin-bottom: 120px;
  height: 600px;
}
.hero-cap {
  color: var(--background);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-bottom: 40px;
  padding-top: 200px;
}
.buttom-cap {
  color: var(--background);
  font-size: 16px;
  width: 216px;
  height: 50px;
  background-color: var(--color-but);
  border-radius: 4px;
  border: 0;
  letter-spacing: 0.06em;
  margin: 0 auto;
  display: block;
}
.buttom-cap:active {
  background-color: var(--active-but);
}
.skill {
  margin-bottom: 94px;
}
.skill li {
  width: 270px;
  display: inline-block;
  gap: 10px;
  padding-right: 30px;
}
.skill h3 {
  line-height: 1.1;
  font-size: 14px;
  margin-bottom: 10px;
}
.skill p {
  line-height: 1.7;
}
.section-work {
  padding-bottom: 94px;
}
.section-title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--text);
  margin-bottom: 50px;
  padding-top: 94px;
}
.list-work {
  display: flex;
  gap: 30px;
}

.section-team {
  background-color: #f5f4fa;
}
.list-team {
  padding-bottom: 94px;
  display: flex;
}
.section-team h3 {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
.section-team p {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  padding-bottom: 30px;
}
.buttoms [type="button"] {
  height: 38px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0;
  font-size: 16px;
}
.buttoms [type="button"]:hover,
.buttoms [type="button"]:focus {
  background-color: var(--active-but);
  color: var(--background);
  box-shadow: 0px 3px 1px #0000001a, 0px 1px 2px #00000014, 0px 2px 2px #0000001f;
  border-radius: 4px;
}
.buttoms {
}
.border {
  border-right-color: rgb(238, 238, 238);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(238, 238, 238);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(238, 238, 238);
  border-left-style: solid;
  border-left-width: 1px;
}
.list-skill {
}
.products li:hover {
  box-shadow: 0px 1px 1px #0000001f, 0px 4px 4px #0000000f, 1px 4px 6px #00000029;
}
.products li {
  width: 370px;
  letter-spacing: 0.06em;
}
.section-team li {
  background-color: var(--background);
  left: 215px;
  width: 270px;
  box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024, 0px 2px 1px #00000033;
  display: inline-block;
  border-radius: 0px 0px 4px 4px;
}
.list-name {
  margin-right: 30px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 15px 0px;
}
