:root {
  --text: #212121;
  --background: #ffffff;
  --color-p: #757575;
  --color-but: #2196f3;
}
body {
  color: var(--text);
  background-color: var(--background);
  font-family: "roboto";
}

header {
  border: 1px solid #ececec;
}

span {
  color: var(--color-but);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
p {
  color: var(--color-p);
}
footer {
  background-color: #2f303a;
  color: var(--background);
}
footer [href="./index.html"] {
  color: var(--background);
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.03em;
  font-family: "raleway";
}
footer [href="mailto:info@devstudio.com"],
[href="tel:+380961111111"] {
  left: 215px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff99;
}
footer [href="https://goo.gl/maps/d5CcS2hFM6yTFQRFA"]
{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--background);
}
.section-products h2 {
  font-size: 18px;
  line-height: 2;
  text-align: left;
  margin-left: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
}
.section-skill h2 {
  left: 617px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-products p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: left;
  margin-left: 24px;
  margin-bottom: 20px;
  margin-top: 4px;
}

ul a:hover,
ul a:focus {
  color: var(--color-but);
}

.main-list a {
  color: var(--text);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}
.list-address a {
  color: var(--color-p);
}
footer .list-address {
  margin-left: 215px;
}
[href="/"] {
  color: var(--text);
  font-size: 26px;
  line-height: 1.2;
  font-family: "raleway";
  letter-spacing: 0.03em;
}
.main-cap {
  color: var(--background);
  background-color: #2f303a;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
}
.buttom-cap {
  color: var(--background);
  font-size: 16px;
  width: 216px;
  height: 50px;
  background-color: var(--color-but);
  border-radius: 4px;
  border: 0;
  letter-spacing: 0.06em;
}
.buttom-cap:active {
  background-color: #188ce8;
}
.section-skill li {
  display: inline-block;
  width: 270px;
}
.section-skill h3 {
  width: 270px;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}
.section-skill p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.section-work li {
  display: inline-block;
}
h2 {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text);
}
.section-team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.section-team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.section-buttoms [type="button"] {
  height: 38px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0;
}
.section-buttoms [type="button"]:active {
  background-color: #188ce8;
  color: var(--background);
  box-shadow: 0px 3px 1px #0000001a, 0px 1px 2px #00000014, 0px 2px 2px #0000001f;
  border-radius: 4px;
}
.list-products .list-item {
  width: 370px;
}
.list-all {
  margin-bottom: 6px;
}
.list-web {
  margin-bottom: 6px;
}
.list-app {
  margin-bottom: 6px;
}
.list-design {
  margin-bottom: 6px;
}
.list-marketing {
  margin-bottom: 6px;
}

.section-products li:hover {
  box-shadow: 0px 1px 1px #0000001f, 0px 4px 4px #0000000f, 1px 4px 6px #00000029;
}
.section-products li {
  box-sizing: border-box;
  width: 370px;
  margin-left: 24px;
  display: inline-table;
  border: 1px solid #eeeeee;
}
.section-team li {
  background-color: var(--background);
  text-align: center;
  left: 215px;
  width: 270px;
  box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024, 0px 2px 1px #00000033;
  margin-bottom: 10px;
  display: inline-block;
}
